/* UTILITY  */
:root {
    --sky-color: #3080fe;
    --grey-color: #1d1d1d;
}

.button {
    background-color: var(--sky-color);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
}

.button:hover {
    background-color: rgb(97, 194, 233);
}

/* ############# */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.container2 {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.section {
    padding: 30px 0;
}

/* HEADER  */
.header {
    padding: 10px;
}

.row-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: var(--grey-color);
}

.icona-dropbox {
    color: var(--sky-color);
}

a.button {
    background-color: var(--sky-color);
    color: white;
    padding: 5px 10px;
}

/* FINE HEADER  */

/* PRIMA SEZIONE  */
 .prima-sezione {
    background-color: rgb(180 208 230);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
 }

 .row1 {
    display: flex;
    justify-content: space-around;
 }

 .col-40 {
    display: flex;
    width: 40%;
    margin: 20px auto;
    /* DEBUG  */
    height: 200px;
    background-color: green;
    border: 1px solid black;
}

.col-60 {
    display: flex;
    width: 60%;
    margin: 20px auto;
    /* DEBUG  */
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
 }
/* FINE PRIMA SEZIONE  */


/* SECONDA SEZIONE  */
.seconda-sezione {
    padding: 20px 0;
}

.sottosezione1 {
    border: 1px solid gray;
    margin-bottom: 20px;
    /* DEBUG  */
    background-color: brown;
    height: 100px;
}

.sottosezione2 {
  margin-top: 20px;
}

.team {
    border: 1px solid black;
}


.enterprise {
    border: 1px solid black;
}

.row2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.col2 {
   width: calc(100% / 3);
   border: 1px solid grey;
   display: flex;
   /* DEBUG  */
   background-color: pink;
   min-height: 350px;
   }
   /* FINE SECONDA SEZIONE  */

   /* TERZA SEZIONE  */
   /* .terza-sezione {
    padding: 40px 0;
   } */

   .row3 {
    display: flex;
    justify-content: space-between;
    /* margin-top: 60px; */
   }


   /* QUARTA SEZIONE  */
   .row4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

  .col4 {
    width: calc(95% / 3);
    margin-bottom: 30px;
}

.titolo-4 {
    font-size: 30px;
    margin-bottom: 40px;
}

.paragrafo-4 {
    margin-top: 20px;
    color: var(--grey-color);
}

.ultimo-main {
    margin-top: 50px;
}

.sottotitolo-4 {
    font-size: 50px;;
}

.link-4 {
    margin: 40px 0 50px 0;
}

.color-link {
    color: var(--sky-color);
}
/* FINE QUARTA SEZIONE  */

/* FOOTER   */
.footer {
    background-color: black;
    margin-top: 10px;
    padding-top: 20px;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}



.footer-title {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.footer li {
    margin-bottom: 5px;
}


.hr-footer {
    width: 10%;
    margin-top: 50px;
}

.language {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 10px;
}





